# Node.js (Angular Frontend)
node_modules/
dist/
.tmp/
package-lock.json
npm-debug.log*

# Angular Environment Files
src/environments/environment.prod.ts
src/environments/environment.ts

# Logs
*.log
logs/
*.log.*

# System Files
.DS_Store
Thumbs.db

# Visual Studio (C# Backend)
bin/
obj/
*.user
*.suo
*.sln.docstates

# ASP.NET and Entity Framework
*.vs/
*.vscode/
Migrations/
appsettings.json
appsettings.*.json

# Build and Publish Artifacts
.publish/
*.PublishXml

# IDE Directories
.vscode/
.idea/

# Other
**/Secrets/
Secrets/
