<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <div class="mark-attendance">
        <h2>Mark Attendance</h2>
        <form (ngSubmit)="markAttendance()">
            <label for="employeeId">Employee ID</label>
            <input type="number" id="employeeId" [(ngModel)]="attendance.employeeId" name="employeeId" required>

            <label for="status">Status</label>
            <select id="status" [(ngModel)]="attendance.status" name="status" required>
                <option value="Present">Present</option>
                <option value="Absent">Absent</option>
            </select>

            <button type="submit">Submit</button>
        </form>
    </div>


</body>
</html>